@{ 
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Survey</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elegant Feedback Form  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/ElegantLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<body class="agileits_w3layouts">
    <h1 class="agile_head text-center">Recruiter Evaluation Form</h1>
    <div class="w3layouts_main wrap">

        <h3>Please Fill in the Survey, it may take you a couple of minutes.</h3>
        <form action="#" method="post" class="agile_form">
            <h2>1. How satisfied were you with our Product/Service?</h2>
            <ul class="agile_info_select">
                <li>
                    <input type="radio" name="view" id="excellent1">
                    <label for="excellent1">excellent</label>
                    <div class="check w3"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="good1" checked="checked">
                    <label for="good1"> good</label>
                    <div class="check w3ls"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="neutral1">
                    <label for="neutral1">neutral</label>
                    <div class="check wthree"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="poor1">
                    <label for="poor1">poor</label>
                    <div class="check w3_agileits"></div>
                </li>
            </ul>

            <h2>2. How satisfied were you with our Product/Service?</h2>
            <ul class="agile_info_select">
                <li>
                    <input type="radio" name="view" id="excellent2">
                    <label for="excellent2">excellent</label>
                    <div class="check w3"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="good2" checked="checked">
                    <label for="good2"> good</label>
                    <div class="check w3ls"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="neutral2">
                    <label for="neutral2">neutral</label>
                    <div class="check wthree"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="poor2">
                    <label for="poor2">poor</label>
                    <div class="check w3_agileits"></div>
                </li>
            </ul>

            <h2>3. How satisfied were you with our Product/Service?</h2>
            <ul class="agile_info_select">
                <li>
                    <input type="radio" name="view" id="excellent3">
                    <label for="excellent3">excellent</label>
                    <div class="check w3"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="good3" checked="checked">
                    <label for="good3"> good</label>
                    <div class="check w3ls"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="neutral3">
                    <label for="neutral3">neutral</label>
                    <div class="check wthree"></div>
                </li>
                <li>
                    <input type="radio" name="view" id="poor3">
                    <label for="poor3">poor</label>
                    <div class="check w3_agileits"></div>
                </li>
            </ul>



            <h2>You're done! Thanks for your time!</h2>
            
        </form>
    </div>
    <div class="agileits_copyright text-center">
        <p>© Recruiter Form</p>
    </div>
</body>
</html>


