<link href="~/Content/SurveyForm.css" rel="stylesheet" type="text/css" media="all" />

<form>
    <ol id="survey1" class="survey">
        <li class="question" title="Prophecy">When a situation needs to be corrected I feel a burden to speak up about it in order to correct it.</li>
        <li class="question" title="Shepherd">I feel a special concern for less mature Christians and feel compelled to care for them spiritually.</li>
        <li class="question" title="Teaching">I find it easy and enjoyable to spend time in intensive Bible study.</li>
        <li class="question" title="Encouraging">I am able to help others identify problems and offer solutions.</li>
        <li class="question" title="Giving">I don't understand why others don't give as much and as freely as I do.</li>
        <li class="question" title="Mercy">I am comfortable visiting people who are sick and disabled.</li>
        <li class="question" title="Evangelism">I have greater desire than most to witness to non-Christians.</li>
        <li class="question" title="Administration">If there is no leadership in a group I will step up and take charge.</li>      
    </ol>
</form>

@section scripts{
    <script type="text/javascript" src="@Url.Content("/Scripts/SurveyForm.js")"></script>
}