
<!DOCTYPE html>
<html>
<head>
    <title>Welcome Welcome</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        To complete the survey, please go to <a href="http://google.com">our site</a>!
    </p>
    <p style="font-size:18px;"><i>Defacto Project</i></p>
</body>
</html>
